<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.demo.dao.masterDao.DataBaseDao">

    <select id="findByMap" resultType="java.util.Map" parameterType="java.util.Map">
        select id checkboxid, id, user_name username, description from user
        <where>
            <if test="username != null and username !=''">
                and user_name like concat('%', #{username}, '%')
            </if>
            <if test="description != null and description !=''">
                and description like concat('%', #{description}, '%')
            </if>
        </where>
    </select>

    <update id="updateUser" parameterType="java.util.Map">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">
                user_name = #{username},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="checkSame" parameterType="java.lang.String" resultType="java.util.Map">
        select id, user_name username, description from user
        <where>
            <if test="username != null and username != ''">
                user_name=#{username}
            </if>
        </where>

    </select>

    <insert id="addUser" parameterType="java.util.Map">
        insert into user(id, user_name, description) values (#{id}, #{username}, #{description})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.String">
        delete from user where id in
        <foreach collection="list" item="idList" open="(" separator="," close=")">
            #{idList}
        </foreach>
    </delete>

    <insert id="batchAdd" parameterType="java.util.Map">
        insert into user (id, user_name, description) values 
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.username}, #{item.description})
        </foreach>
    </insert>

</mapper>
